body {
    margin-top:20px;
    background-color:#f2f6fc;
    color:#69707a;
}

.alert {
	position: absolute; 
	z-index: 9999; 
	top: 5px;
	left: 10px;
	right: 5px;
	padding: 25px;
	border-radius: 20px;
	font-size: 20px;
	font-style: italic;
    width: 99%;
}

.alert-success {
	background-color: #48ff004c; /* Change the background color to match your desired style */
	color: #ffffff; /* Change the text color to match your desired style */
	border: 1px solid #48ff002e; /* Add a border for better visibility */
}

.alert-danger {
	background-color: #ff00004c; /* Change the background color to match your desired style */
	color: #ffffff; /* Change the text color to match your desired style */
	border: 1px solid #ff00002e; /* Add a border for better visibility */
}

.img-account-profile {
    height: 10rem;
}
.rounded-circle {
    border-radius: 50% !important;
}
.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
    font-weight: 500;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control, .dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: bold;
}

.nav-link-home {
    /* margin-left: 100px; */
    margin-right: 0;
}

.onTop {
    display: block;
    background: linear-gradient(to bottom, #0047599a 0%,#ffffff 100%); 
    height: 160px;
    width: 100%;
}

.semiOnTop {
    display: block;
    height: 90px;
    width: 100%;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: left;
    margin-right: 45px;
    margin-left: 50px;
    margin-top: 15px;
    font-size: 50px;
    text-decoration: none;
}

.nav-top {
    display: flex;
    align-items: center;
    list-style-type: none;
    float: right;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 35px;
    font-size: 20px;
}

.nav-top-a {
    align-items: center;
    margin-right: 20px;
    color: blue;
    text-decoration: none;
}

.errorDetail {
    color: red;
}


